table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    background-color: 	#428bca;
    color: white;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 15px;
  }